@import url(./color.css);
@import url(./font.css);


/*all*/
*{
    margin: 0px;
    padding: 0px;
}

section{
    width: 100%;
    position: relative;
}

.wrap{
    width: 100%;
    position: relative;
}

.inner{
    /*width: calc(100% - 240px);*/
    margin: auto;
    position: relative;
}
.hidden{
    width: 0px;
    padding: 0px;
    border: none;
    outline: none ;
    overflow: hidden;
    opacity: 0;
    position: absolute;
}
a{
    color: var(--black) !important;
    text-decoration: none;
}

body::-webkit-scrollbar{
    display: none;
}
.page_title{
    font-size: 60px;
    text-align: center;
    margin-bottom: 32px;
    padding-top: 120px;
    color: var(--dark);
    font-weight: bold;
}

.page_subtitle{
    font-size: 32px;
    text-align: center;
    color: var(--dark);
    width: 840px;
    margin: auto;
}
.page_semi_title{
    font-size: 36px;
    text-align: center;

    font-weight: bold;
}

.page_subsub_title{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 16px;
}

#top_label{
    background-color: var(--blue);
    height: 480px;
}

#top_label .wrap{
    height: 480px;
}

#top_label .inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.top_label_title{
    font-size: 72px;
    color: var(--white);
    margin-bottom: 12px;
    font-weight: bold;
}
.top_label_subtitle{
    font-size: 42px;
    font-weight: bold;
}


/*header*/
header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    z-index: 9999;
    background-color: transparent;
}

header .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header_link{
    padding: 12px;
    font-size: 18px;
    position: relative;
    color: var(--white) !important;
}
.before_open_menu{
    display: inline;
    position: relative;
}

.header_underbox{
    position: absolute;
    top: 42px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.header_link:hover .header_underbox{
    display: block;
}
.header_underbox{
    background-color: var(--white);
    color: var(--black);
    
    padding: 6px 14px;
}
.header_underbox p{
    line-height: 28px;
    white-space: nowrap;
    border-bottom: 1px solid var(--red);
}

/*footer*/

footer{
    width: 100%;
    background-color: var(--dark);
    padding-bottom: 12px;
    padding-top: 12px;
}
.footer_top{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
}
.footer_top_menu_title{
    color: var(--gray-strong);
    font-size: 20px;
    /*margin-bottom: 24px;*/
}
.footer_top_menu_text{
    color: var(--gray-semi);
    font-size: 16px;
    /*margin-bottom: 24px;*/

}
.footer_top_menuLink{
    color: var(--gray-semi);   
}
.footer_bottom{
    border-top: 1px solid var(--gray-semi);
    margin-top: 10px;
}
.copyright{
    font-size: 14px;
    color: var(--gray-semi);
    
    padding-top: 12px;
}
.footer_top_menuBox{
    width: calc(33.333% - 40px); /*30%;*/
    text-align: left; /*center;*/
}
.footer_top_menuBox_center{
    width: 40%;
    text-align: center;
}
.footer_top_menu_title{
    font-size: 18px;
    font-weight: bold;
    padding-top: 8px;
    margin-bottom: 10px;
}
.footer_top_menuLink{
    font-size: 16px;
    margin-bottom: 8px;
}
.partners_img{
    display: block;
    margin: auto;
    margin-bottom: 12px;
}
.footer_top_menuBox_line{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: 16px;
    justify-content: space-between;
}
.footer_top_menuBox_line a{
    width: 50%;
    color: var(--gray-semi) !important;
    text-align: center;
}
.footer_top_menuBox_line a:hover{
    color: var(--red) !important;
}


  
.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
.footer-section {
    margin-bottom: 10px;
    margin-left: 5px;
  }
  
.footer-section .footer-top-menu-title,
.footer-bottom a {
    font-size: 24px; 
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
    display: block; 
  }
  
.footer-top-menu-text p,
  .partners p {
    font-size: 16px; 
    color: #ffffff;
    margin-bottom: 10px;
  }
  
.footer-top-menuBox-link {
    font-size: 18px; 
    color: #ffffff;
    text-decoration: none;
    display: block; 
    margin-bottom: 5px;
  }
  
.partners img {
    max-width: 100px; 
    height: auto; /*50px;*/ 
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    align-items: center;
    display: grid;
  }
  
.footer-bottom {
    text-align: center;
    /*border-top: 1px solid #ffffff; */
    padding-top: 10px;
    font-size: 16px;
    border-top: 1px solid #ffffff; /* Dividing line */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-section {
      align-items: right;
      text-align: right;
    }
  }

