@import url(./color.css);
@import url(./font.css);


/*all*/
*{
    margin: 0px;
    padding: 0px;
}

img {max-width:100%;}

section{
    width: 100%;
    position: relative;
}

.wrap{
    width: 100%;
    position: relative;
}

.inner{
    width: calc(100% - 240px);
    margin: auto;
    position: relative;
}
.hidden{
    width: 0px;
    padding: 0px;
    border: none;
    outline: none ;
    overflow: hidden;
    opacity: 0;
    position: absolute;
}
a{
    color: var(--black);
    text-decoration: none;
}
ul {list-style:none;}

body::-webkit-scrollbar{
    display: none;
}
.page_title{
    font-size: 60px;
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 120px;
    color: var(--dark);
    font-weight: bold;
}

.page_subtitle{
    font-size: 32px;
    text-align: center;
    color: var(--dark);
    max-width: 840px;
    margin: auto;
}
.page_semi_title{
    font-size: 2.25rem;
    text-align: center;
    font-weight: bold;
	margin-bottom:10px;
}

.page_subsub_title{
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
    margin-top: 16px;
	margin-bottom:10px;
}

#top_label{
    background-color: var(--blue);
    /* height: 480px; */
}

#top_label .wrap{
    height: 480px;
}

#top_label .inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.top_label_title{
    font-size: 72px;
    color: var(--white);
    margin-bottom: 12px;
    font-weight: bold;
}
.top_label_subtitle{
    font-size: 42px;
    font-weight: bold;
}

#top_label + section {padding-top: 120px; padding-bottom: 120px; background-color: var(--toss-bg);}


/*header*/
.header_left {
    width: 15%;
}

.header_left > img {
    width: 100%;
    height: 100%;
}

header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    z-index: 9;
    background-color: transparent;
}

header .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header_link{
    padding: 12px;
    font-size: 18px;
    position: relative;
    color: var(--white) !important;
}
.before_open_menu{
    display: inline;
    position: relative;
}

.header_underbox{
    position: absolute;
    top: 42px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.header_link:hover .header_underbox{
    display: block;
}
.header_underbox{
    background-color: var(--white);
    color: var(--black);
    
    padding: 6px 14px;
}
.header_underbox p{
    line-height: 28px;
    white-space: nowrap;
    border-bottom: 1px solid var(--red);
}
.header_left {flex:0 0 20%; max-width:20%; margin-right:20px;}
/* gnb */
#gnb {display:flex; align-items:center;}
#gnb > li {display:flex; justify-content:center;}
#gnb > li a {font-size:1.125rem;}
#gnb > li > a {display:block; color:#fff; padding:12px 14px; text-align:center;}
#gnb > li > a.on {color:#ffe672;}
#gnb > li > ul {background:#fff; position:absolute; top:50px; padding:6px 14px; display:none;}
#gnb > li > ul > li {border-bottom:1px solid #e63b49;}
#gnb > li > ul > li > a {display:block; padding:4px 0; text-align:center; transition:all .1s; -webkit-transition:all .1s;}
#gnb > li > ul > li > a:hover {color:#777;}
#gnb > li:last-child > ul {width:130px;}

/* m_nav */
#m_nav {flex:1;}
#m_nav > li {position:relative;}
#m_nav > li > a {display:flex; align-items:center; border-bottom:solid 1px #ebebeb; padding:17px 22px; position:relative;}
#m_nav > li.has_sub > a::after {content:''; position:absolute; right:20px; width:0; height:0; border-left:5px solid transparent; border-right:5px solid transparent; border-top:4px solid #454545;}
#m_nav > li.has_sub > a.open::after {transform:rotate(180deg); opacity:1;}
#m_nav > li > ul {display:none; background:#fafafa; padding:8px 0;}
#m_nav > li > ul li a {display:block; font-size:14px; padding:8px 32px;}
.mgnb .logo {background:#fff; padding:15px 20px; position:sticky; top:0; z-index:1;}
.mgnb .logo img {max-width:150px; max-height:38px;}
body.mobile_menu_visible {overflow:hidden !important;}

.mgnb {width:80%; height:100%; position:fixed; top:0; right:0; background:#f6f6f6; z-index:10; overflow:auto; display:flex; flex-direction:column; transition:all .3s ease-in-out; transform:translateX(100%);}
.togglemenu {display:none;}
/* All menus MOBILE */
.spinner-master input[type=checkbox] {display:none;}
.spinner-master * {transition:all 0.3s; box-sizing:border-box;}
.spinner-master {position:absolute; right:20px; width:27px; height:27px;}
.spinner-master.on {top:8px;}
.spinner-master label {cursor:pointer; position:absolute; z-index:99; height:100%; width:100%; top:5px; left:0;}
.spinner-master .spinner {position:absolute; height:2px; width:100%; padding:0; background-color:#fff;}
.spinner-master .diagonal.part-1 {position:relative; float:left;}
.spinner-master .horizontal, .spinner-master .diagonal.part-2 {position:relative; float:left; margin-top:6px;}
.spinner-master input[type=checkbox].on ~ .spinner-spin > .horizontal {opacity:0;}
.spinner-master input[type=checkbox].on ~ .spinner-spin > .diagonal.part-1 {transform:rotate(135deg); -webkit-transform:rotate(135deg); margin-top:10px;}
.spinner-master input[type=checkbox].on ~ .spinner-spin > .diagonal.part-2 {transform:rotate(-135deg); -webkit-transform:rotate(-135deg); margin-top:-10px;}
.spinner-master input[type=checkbox].on ~ .spinner-spin > .spinner {background-color:#000;}

/* fixed */
header.fixed {background:#fff; position:fixed; top:0; box-shadow:0px 4px 12px rgba(0,0,0,0.07);}
header.fixed #gnb > li > a {color:#333;}
header.fixed #gnb > li > a.on {color:#e63b49;}
header.fixed .spinner-master .spinner {background:#333;}

/*footer*/
footer{
    width: 100%;
    background-color: var(--dark);
    padding-bottom: 32px;
    padding-top: 32px;
}
.footer_top{
    display: flex;
	flex-wrap:wrap;
    align-items: start;
    justify-content: space-between;
    
}
.footer_top_menu_title{
    color: var(--gray-strong);
}
.footer_top_menuLink{
    color: var(--gray-semi);   
}
.footer_bottom{
    border-top: 1px solid var(--gray-semi);
    margin-top: 24px;
}
.copyright{
    font-size: 14px;
    color: var(--gray-semi);
    
    padding-top: 12px;
}
.footer_top_menuBox{
    width: 30%;
    text-align: center;
}
.footer_top_menuBox_center{
    width: 40%;
    text-align: center;
}
.footer_top_menu_title{
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 8px;
    margin-bottom: 24px;
}
.footer_top_menuLink{
    font-size: 1.25rem;
    margin-bottom: 8px;
}
.partners_img{
    display: block;
    margin: auto;
    margin-bottom: 12px;
}
.footer_top_menuBox_line{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: 1.125rem;
    justify-content: space-between;
}
.footer_top_menuBox_line a{
    width: 50%;
    color: var(--gray-semi) !important;
    text-align: center;
}

/* loading */
body {overflow:hidden;}
body.load_end {overflow:auto;}
.mask {background:rgba(255,255,255,0.7); display:flex; justify-content:center; align-items:center; position:fixed; top:0; left:0; width:100%; height:100%; z-index:10;}

video {background:#555;}
