*{
    --white : white;
    --black : black;
    --green : #05C19C;
    --red : #e63b49;
    --blue : #e63b49;
    --toss-bg : #f5f6f8;
    --dark : #191f28;
    --gray-semi : #6b7684;
    --gray-strong : #b0b8c1;
}