
.navbar {
    background-color: #f8d7da;
}
.nav-item .nav-link.active {
    background-color: #dc3545;
    color: #fff;
    font-weight: bold;
}

.nav-item .nav-link.active {
    text-decoration: underline;
}

.square-btn {
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    text-align: center;
    line-height: 100px;
    border: 1px solid #000000;
    color: #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.square-btn:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}