/* #append_section{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--toss-bg);
} */


.link_area_box{
    padding: 1.5rem 1.5rem 0;
    max-width: calc(840px - 48px);
    margin: auto;
    margin-top: 12px;
}
.link_area_box_title{
    font-size: 1.5rem;
    color: var(--red);
    text-align: center;
    font-weight: bold;
    margin-bottom: 42px;
}
.link_area_item{
    box-shadow: 0px 0px 10px rgba(0,0,0,.1);
    border-radius: 12px;
	width:30.93%;
    max-width: 250px;
    /* height: 140px; */
	padding:40px 10px 20px;
	margin:1.2%;
    cursor: pointer;
    background-color: var(--white);
    text-align: center;
	box-sizing:border-box;
}
.link_area_line{
    display: flex;
    margin-bottom: 24px;
	flex-wrap:wrap;
}
.link_area_item i{
    font-size: 28px;
    color: var(--red);
    /* padding-top: 42px; */
}
.link_item_title{
    margin-top: 16px;
    font-size: 1.25rem;
    color: var(--gray-semi);
	height:40px;
}
.page_video{
	width:100%;
    max-width: 840px;
    display: block;
    margin: auto;
    margin-bottom: 24px;
}