/* #hci_section_01{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--toss-bg);
} */
.hci_section_image{
    width: 100%;
	max-width:840px;
    /* height: 320px; */
    display: block;
    margin: auto;
    margin-top: 60px;
}
.hci_table{
    margin-top: 42px;
}
.hci_line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 840px;
    margin: auto;

}
.hci_cell{
    border: 1px solid var(--black);
    width: 50%;
    height: 50px;
    box-sizing: border-box;
}