/* #systemdesign_section{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--toss-bg);
} */
.system_design_img{
    display: block;
    margin: auto;
    margin-top: 24px;
}