.page_full_img{
    width: 840px;
    display: block;
    height: 320px;
    margin: auto;
    margin-top: 24px;
}
#testing_section{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--toss-bg);
}

.moscow_textbox{
    width: 840px;
    margin: auto;
    height: 50px;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 12px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.1);
    transition: all .4s ease-in-out;
}
.moscow_textbox_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 32px);
    padding: 16px;
    border-radius: 8px;
    background-color: var(--toss-bg);
    color: var(--black);
    cursor: pointer;
}

#moscow_checkbox_1:checked ~ #moscow_textbox_1{
    height: auto;
    overflow: auto;
}
#moscow_checkbox_2:checked ~ #moscow_textbox_2{
    height: auto;
    overflow: auto;
}
#moscow_checkbox_3:checked ~ #moscow_textbox_3{
    height: auto;
    overflow: auto;
}
#moscow_checkbox_4:checked ~ #moscow_textbox_4{
    height: auto;
    overflow: auto;
}
.moscow_text{
    padding: 16px;
    background-color: white;
}
.moscow_table, .moscow_table_2, .moscow_table_head_3{
    margin-top: 24px;
    width: 100%;
}
.moscow_table_head{
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.moscow_table_line{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.moscow_table_cell{
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid var(--black);
    width: calc(100% / 3);
    box-sizing: border-box;
}
.moscow_table_cell_sm{
    width: 20%;
}
.moscow_table_cell_lg{
    width: 80%;
}
.moscow_table_cell_to_sm{
    width: 10%;
}
.moscow_table_cell_md{
    width: 25%;
}
.moscow_table_head_3{
    text-align: center;
}